@charset "UTF-8";/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* ===== PAGE ===== */
.login-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-main);
}

/* ===== CARD ===== */
.login-card {
  width: 580px;
  padding: 6rem 3.2rem;
 background: var(--bg-card);
  border-radius: 1.5rem;
  border: 1px solid rgba(148, 163, 184, 0.35);
  backdrop-filter: blur(12px);
  box-shadow: 0 25px 65px rgba(15, 23, 42, 0.9);
}

/* ===== TITLE ===== */
.login-title {
  font-size: 4.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-main);
  font-weight: 700;
}

/* ===== FORM ===== */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* ===== INPUTS ===== */
.login-input {
  width: 100%;
  padding: 1.8rem 1.2rem;
  border-radius: 1rem;
  border: 1px solid var(--border);
  background: var(--bg-main);;
  color: var(--text-main);
  font-size: 1.05rem;
  outline: none;
  transition: 0.25s ease;
  font-weight: bold;
}

.login-input::placeholder {
  color: #6b7280;
}

.login-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.6);
}

/* ===== PASSWORD FIELD ===== */
.password-container {
  position: relative;
}

.toggle-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: #9ca3af;
}

.toggle-btn:hover {
  color: #60a5fa;
}

/* ===== BUTTON ===== */
.login-btn {
  margin-top: 0.8rem;
  padding: 1.5rem;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: var(--text-main);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 15px 40px rgba(37, 99, 235, 0.5);
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 22px 55px rgba(79, 70, 229, 0.7);
}

/* ===== LINKS ===== */
.login-links {
  margin-top: 1.6rem;
  text-align: center;
}

.login-link {
  font-size:1.4rem;
  display: block;
  margin-top: 0.6rem;
  font-size: 0.95rem;
  color: #93c5fd;
  cursor: pointer;
}

.login-link:hover {
  color: #bfdbfe;
  text-shadow: 0 0 6px rgba(59, 130, 246, 0.7);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
  .login-card {
    width: 100%;
    padding: 2.2rem 1.8rem;
  }

  .login-title {
    font-size: 2.1rem;
  }
}