/* ================= THEME VARIABLES ================= */

:root[data-theme="dark"] {
  --bg-main: #020617;
  --bg-secondary: #0f172a;
  --bg-card: rgba(15, 23, 42, 0.9);
  --bg-muted: #1e293b;

  --text-main: #f9fafb;
  --text-muted: #9ca3af;
  --text-dark: #111827;

  --border: #4b5563;

  --primary: #2563eb;
  --primary-dark: #1e40af;
  --success: #22c55e;
  --danger: #ef4444;

  --white: #ffffff;
}

:root[data-theme="light"] {
  --bg-main: #f8fafc;
  --bg-secondary: #ffffff;
  --bg-card: #ffffff;
  --bg-muted: #f1f5f9;

  --text-main: #111827;
  --text-muted: #374151;
  --text-dark: #020617;

  --border: #e5e7eb;

  --primary: #2563eb;
  --primary-dark: #1e40af;
  --success: #16a34a;
  --danger: #dc2626;

  --white: #ffffff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
